@import '../../style-constants';

app-curriculum-vitae { 
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.cv-container {
    background-color: rgba(0, 0, 0, 66%);
    padding: $spacing-half;
    border-radius: $spacing-half;
    margin-bottom: $spacing-half;

    color: white;
    font-weight: lighter;

    .headline {
        font-size: $font-big;
        margin-block-start: $spacing-half;
        margin-block-end: $spacing-half;
    }

    h2 {
        display: inline-block;
        font-weight: normal;
        font-size: $font-medium;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        margin-block-start: 0;
    }

    strong {
        font-weight: bold;
    }
}
