@import '../../../style-constants';

.text-only-logo {
    cursor: pointer;
    justify-content: center;
    font-weight: lighter;

    h1.head {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: $font-biggest;
        
        text-shadow: #999 0 0 16px;
    }

    .subhead {
        font-size: $font-big;
        text-shadow: #999 0 0 8px;
        font-style: italic;
    }
}

// Tablet portrait
@media only screen 
       and (max-device-width: 768px) 
       and (orientation: portrait) {
}

// Tablet landscape
@media only screen 
       and (max-device-width: 1024px)
       and (orientation: landscape) {
}

// Phone portrait
@media only screen 
       and (max-device-width: 320px) 
       and (orientation: portrait) {
    .text-only-logo {
        h1.head {
            font-size: $font-standard;
        }

        .subhead {
            font-size: $font-half;
        }
    }
}

// Phone landscape
@media only screen
       and (max-device-width: 568px)
       and (orientation: landscape) {
    .text-only-logo {
        h1.head {
            font-size: $font-standard;
        }

        .subhead {
            font-size: $font-half;
        }
    }
}