@import '../style-constants';

.app-frame {
    display: flex;
    flex-flow: column;

    .header-row {
        flex: 1;
        height: 15%;
    }

    .content-row {
        flex: 1;
    }

    .logo {
        width: 50%;
        // border: 1px solid #F00;
        color: $shadow-light;
    }

        .logo:focus {
            outline: none !important;
        }

    .right-menu {
        align-content: center;
        text-align: end;
        font-size: $font-biggest;
        color: #FFF;

        a {
            color: #FFF;
            text-shadow: $shadow-light 0 0 $shadow-range-big;
            text-decoration: none;
        }
    }

    .content-zone {
        flex: initial;
    }

    .copyright {
        margin-bottom: auto;
        align-content: center;
        justify-content: center;
        font-size: $font-half;
    }
}

// Tablet portrait
@media only screen
       and (max-device-width: 768px) 
       and (orientation: portrait) {
}

// Tablet landscape
@media only screen 
       and (max-device-width: 1024px)
       and (orientation: landscape) {
}

// Phone portrait
@media only screen
       and (max-device-width: 320px) 
       and (orientation: portrait) {
    .app-frame {
        .logo {
            width: 100%;
        }

        .right-menu {
            font-size: $font-standard;
            width: 100%;
        }
    }
}

// Phone landscape
@media only screen
       and (max-device-width: 568px)
       and (orientation: landscape) {
    .app-frame {
        .logo {
            width: 100%;
        }

        .right-menu {
            font-size: $font-standard;
            width: 100%;
        }
    }
}