@import 'style-constants';

.form-group {
    display: inline-block;
    margin-bottom: $spacing-standard;

    .form-control-name {
        font-size: 0.75em;
        margin-bottom: $spacing-half;
    }

    input, select {
        min-height: 24px;
        margin-right: $spacing-standard;
        padding-left: $spacing-standard;
        border: none;
        border-bottom: 1px solid #FFF;
        border-radius: 4px;
    }
}

.button-group {
    display: inline-block;
    margin-bottom: $spacing-standard;
}

button {
    min-height: 24px;
    min-width: 100px;
    background: none;
    border: 1px solid #FFF;
    border-radius: 4px;
    padding: 4px;
    margin-right: $spacing-standard;
    margin-bottom: $spacing-standard;

    color: #FFF;
}

button.primary-action {
    border: none;
    background: #339;
}

// Tablet portrait
@media only screen
       and (max-device-width: 768px) 
       and (orientation: portrait) {
    .form-group {
        input, select {
            padding: $spacing-standard;
            min-height: 24px;
        }
    }

    .button-group {
        button {
            padding: $spacing-standard;
            min-height: 24px;
        }
    }
}

// Tablet landscape
@media only screen 
       and (max-device-width: 1024px)
       and (orientation: landscape) {
    .form-group {
        input, select {
            padding: $spacing-standard;
            min-height: 24px;
        }
    }

    .button-group {
        button {
            padding: $spacing-standard;
            min-height: 24px;
        }
    }
}

// Phone portrait
@media only screen 
       and (max-device-width: 500px) 
       and (orientation: portrait) {
    .form-group {
        display: block !important;
        width: 100%;

        .form-control-name {
            font-size: $font-standard;
        }

        input, select {
            width: 100%;
            min-width: 100px;
            min-height: 48px;
            padding: $spacing-standard;
            font-size: $font-big;
        }
    }

    .button-group {
        display: block !important;

        button {
            width: 100%;
            min-width: 100px;
            min-height: 48px;
            padding: $spacing-standard;
            font-size: $font-big;
        }
    }
}

// Phone landscape
@media only screen
       and (max-device-width: 700px)
       and (orientation: landscape) {
    .form-group {
        display: block !important;
        width: 100%;

        .form-control-name {
            font-size: $font-standard;
        }

        input, select {
            width: 100%;
            min-width: 100px;
            min-height: 48px;
            padding: $spacing-standard;
            font-size: $font-big;
        }
    }

    .button-group {
        display: block !important;
        
        button {
            width: 100%;
            min-width: 100px;
            min-height: 48px;
            padding: $spacing-standard;
            font-size: $font-big;
        }
    }
}