@import 'style-constants';

.form-group {
    display: inline-block;
    margin-bottom: $spacing-standard;

    .form-control-name {
        font-size: 0.75em;
        margin-bottom: $spacing-half;
    }

    input, select {
        min-height: 24px;
        margin-right: $spacing-standard;
        border: none;
        border-bottom: 1px solid #FFF;
        border-radius: 4px;
    }
}

button {
    min-height: 24px;
    min-width: 100px;
    background: none;
    border: 1px solid #FFF;
    border-radius: 4px;
    padding: 4px;
    margin-right: $spacing-standard;
    margin-bottom: $spacing-standard;

    color: #FFF;
}

button.primary-action {
    border: none;
    background: #339;
}