$spacing-big: 32px;
$spacing-standard: 16px;
$spacing-half: 8px;

$font-biggest: 1.6em;
$font-big: 1.35em;
$font-medium: 1.15em;
$font-standard: 1em;
$font-half: 0.8em;

$shadow-light: #FFF;
$shadow-mid: #CCC;
$shadow-mid-dark: #999;
$shadow-dark: #333;

$shadow-range-big: 16px;
$shadow-range-standard: 8px;
$shadow-range-short: 4px;