$spacing-standard: 16px;
$spacing-half: 8px;

$font-biggest: 36px;
$font-big: 24px;
$font-standard: 16px;
$font-half: 12px;

$shadow-light: #FFF;
$shadow-mid: #CCC;
$shadow-mid-dark: #999;
$shadow-dark: #333;

$shadow-range-big: 16px;
$shadow-range-standard: 8px;
$shadow-range-short: 4px;