<div class="home-container">
    <div class="head">Andrew R. Gray is a skilled computer programmer.</div>
    <div class="subhead">
        <p>Andrew has over a decade's worth of experience writing web code, from JavaScript and JQuery, to modern TypeScript and Angular.  Andrew has written applications for the U.S. Army and Texas state governent, as well as his own individual projects.</p>
        <p>Click <a routerLink="/cv">CV</a> in the top right corner to view Andrew's employment history.  To learn more about what technologies Andrew knows, click <a routerLink="/technology">Technologies</a> to see the list of all the tech he's worked with in his career.</p>
    </div>
</div>
