@import '../../../style-constants';
@import '../../../controls';

.search-interface {
    margin-bottom: $spacing-standard;
    border-bottom: 1px solid #999;

    .classification-dropdown {
        min-width: 100px;
    }
}